<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- spring加载资源文件 -->
	<bean id="propertiesConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- BUSI 配置数据源 -->
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="${busi.url}" />
		<property name="username" value="${busi.username}" />
		<property name="password" value="${busi.password}" />
		<property name="driverClassName" value="${busi.driverClassName}" />
		<!-- 添加监控用途的statFilter -->
		<!--
			<property name="filters"
			value="${busi.filters}" />
		-->
		<property name="maxActive" value="${busi.maxActive}" />
		<property name="initialSize" value="${busi.initialSize}" />
		<property name="maxWait" value="${busi.maxWait}" />
		<property name="minIdle" value="${busi.minIdle}" />

		<!-- 连接Idle一个小时后超时 -->
		<property name="timeBetweenEvictionRunsMillis" value="${busi.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${busi.minEvictableIdleTimeMillis}" />

		<property name="validationQuery" value="${busi.validationQuery}" />
		<property name="testWhileIdle" value="${busi.testWhileIdle}" />
		<property name="testOnBorrow" value="${busi.testOnBorrow}" />
		<property name="testOnReturn" value="${busi.testOnReturn}" />
		<!--  
		<property name="poolPreparedStatements" value="${busi.poolPreparedStatements}" />
		<property name="maxOpenPreparedStatements" value="${busi.maxOpenPreparedStatements}" />
		-->
		<property name="removeAbandoned" value="${busi.removeAbandoned}" /> <!-- 打开removeAbandoned功能 -->
		<property name="removeAbandonedTimeout" value="${busi.removeAbandonedTimeout}" /> <!-- 1800秒，也就是30分钟 -->
		<property name="logAbandoned" value="${busi.logAbandoned}" /> <!-- 关闭abanded连接时输出错误日志 -->
	</bean>
	
	<bean id="processEngineConfiguration"
		class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="databaseType" value="mysql"/>
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
	</bean>
	
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>